serverless.yml
# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: badge
# app and org for use with dashboard.serverless.com
#app: your-app-name
#org: your-org-name

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
# frameworkVersion: "=X.X.X"

provider:
  name: aws
  runtime: nodejs10.x
  stage: dev
  region: us-west-2
  versionFunctions: false
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
        - dynamodb:BatchWriteItem
        - sns:*
      Resource:
        - { "Fn::GetAtt": ["movementTable", "Arn"] }
        - {
            "Fn::Join":
              ["/", [{ "Fn::GetAtt": ["movementTable", "Arn"] }, "index", "*"]],
          }
        - { "Fn::GetAtt": ["voiceTable", "Arn"] }
        - {
            "Fn::Join":
              ["/", [{ "Fn::GetAtt": ["voiceTable", "Arn"] }, "index", "*"]],
          }

# you can overwrite defaults here
#  stage: dev
#  region: us-east-1

# you can add statements to the Lambda function's IAM Role here
#  iamRoleStatements:
#    - Effect: "Allow"
#      Action:
#        - "s3:ListBucket"
#      Resource: { "Fn::Join" : ["", ["arn:aws:s3:::", { "Ref" : "ServerlessDeploymentBucket" } ] ]  }
#    - Effect: "Allow"
#      Action:
#        - "s3:PutObject"
#      Resource:
#        Fn::Join:
#          - ""
#          - - "arn:aws:s3:::"
#            - "Ref" : "ServerlessDeploymentBucket"
#            - "/*"

# you can define service wide environment variables here
#  environment:
#    variable1: value1

functions:
  apis:
    handler: index.handler
    environment:
      STATE_MACHINE_ARN: { "Ref": "Hellostepfunc1StepFunctionsStateMachine" }
      MOVEMENT_TABLE_NAME: movementTable
      VOICE_TABLE_NAME: voiceTable
    iamRoleStatementsInherit: true # lambda quanxian
    iamRoleStatements:
      - Effect: Allow
        Action:
          - states:*
        Resource:
          - "*"
    events:
      - http:
          path: /api/movement/{proxy+}
          method: GET
          cors: true
      - http:
          path: /api
          method: POST
          cors: true
      - http:
          path: /api/voice/{proxy+}
          method: GET
          cors: true
  putmovement:
    handler: putmovement.handler
    environment:
      MOVEMENT_TABLE_NAME: movementTable
  putvoice:
    handler: putvoice.handler
    environment:
      VOICE_TABLE_NAME: voiceTable
#    The following are a few example events you can configure
#    NOTE: Please make sure to change your handler code to work with those events
#    Check the event documentation for details
#    events:
#      - http:
#          path: users/create
#          method: get
#      - websocket: $connect
#      - s3: ${env:BUCKET}
#      - schedule: rate(10 minutes)
#      - sns: greeter-topic
#      - stream: arn:aws:dynamodb:region:XXXXXX:table/foo/stream/1970-01-01T00:00:00.000
#      - alexaSkill: amzn1.ask.skill.xx-xx-xx-xx
#      - alexaSmartHome: amzn1.ask.skill.xx-xx-xx-xx
#      - iot:
#          sql: "SELECT * FROM 'some_topic'"
#      - cloudwatchEvent:
#          event:
#            source:
#              - "aws.ec2"
#            detail-type:
#              - "EC2 Instance State-change Notification"
#            detail:
#              state:
#                - pending
#      - cloudwatchLog: '/aws/lambda/hello'
#      - cognitoUserPool:
#          pool: MyUserPool
#          trigger: PreSignUp
#      - alb:
#          listenerArn: arn:aws:elasticloadbalancing:us-east-1:XXXXXX:listener/app/my-load-balancer/50dc6c495c0c9188/
#          priority: 1
#          conditions:
#            host: example.com
#            path: /hello

#    Define function environment variables here
#    environment:
#      variable2: value2

# you can add CloudFormation resource templates here
#resources:
#  Resources:
#    NewResource:
#      Type: AWS::S3::Bucket
#      Properties:
#        BucketName: my-new-bucket
#  Outputs:
#     NewOutput:
#       Description: "Description for the output"
#       Value: "Some output value"

# resources: # CloudFormation template syntax
#   Resources:
#     movementTable:
#       Type: AWS::DynamoDB::Table
#       Properties:
#         TableName: movementTable
#         AttributeDefinitions:
#           - AttributeName: badge_id
#             AttributeType: S
#         KeySchema:
#           - AttributeName: badge_id
#             KeyType: HASH
#         ProvisionedThroughput:
#           ReadCapacityUnits: 1
#           WriteCapacityUnits: 1

resources: # CloudFormation template syntax
  Resources:
    movementTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: movementTable
        AttributeDefinitions:
          - AttributeName: badge_id
            AttributeType: S
          - AttributeName: time_stamp
            AttributeType: N
        KeySchema:
          - AttributeName: badge_id
            KeyType: HASH
          - AttributeName: time_stamp
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    voiceTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: voiceTable
        AttributeDefinitions:
          - AttributeName: badge_id
            AttributeType: S
          - AttributeName: time_stamp
            AttributeType: N
        KeySchema:
          - AttributeName: badge_id
            KeyType: HASH
          - AttributeName: time_stamp
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1

stepFunctions:
  stateMachines:
    hellostepfunc1:
      # events:
      #   - http:
      #       path: movement
      #       method: POST
      definition:
        Comment: "A Hello World example of the Amazon States Language using an AWS Lambda Function"
        StartAt: ChoiceState
        States:
          ChoiceState:
            Type: Choice
            Choices: 
            - 
              Variable: "$.type"
              StringEquals: Movement
              Next: PutMovement
            - 
              Variable: "$.type"
              StringEquals: Voice
              Next: PutVoice
            Default: DefaultState
          PutMovement:
            Type: Task
            Resource: "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-${self:provider.stage}-putmovement"
            End: true
          PutVoice:
            Type: Task
            Resource: "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-${self:provider.stage}-putvoice"
            End: true
          DefaultState:
            Type: Fail
            Cause: "No Matches!"




plugins:
  - serverless-step-functions
  - serverless-pseudo-parameters
  - serverless-iam-roles-per-function
